
.search{
    margin: 1rem;
    margin-top: 7rem;
    margin-bottom: 1.5rem;
}
.search>input{
    width: 70vw;
    max-width: 450px;
    height: 40px;
    padding: 0.8rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .3);
    border: 1px solid rgba(92, 92, 92, 0.267);
}
.search>button{
    width: 40px;
    height: 40px;
    font-size: 13px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .3);
    background-color: rgb(236, 69, 18);
    border: 2px solid rgb(236, 69, 18);
    margin-left: -5px;
    color: white;
}
.products-responsive{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1rem ;
}

.images-hover{
    position: relative;
    width: 200px;
    height: 200px;
    align-items: center;
    margin: auto;
}
.images-hover img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.images-hover .over{
    position: absolute;
    transition: .6s;
    opacity: 0;
    background-color: white;
}

.images-hover .over:hover{
    opacity: 1;
}


.link{
    text-decoration: none;    
    cursor: pointer;
    color: rgb(0, 0, 0);
}
.products{
    background-color: rgb(252, 252, 252);
    width: 85vw;
    margin: 1rem ;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .3);
    border: 1px solid rgba(92, 92, 92, 0.267);

}

hr{
    border: 1px solid rgba(92, 92, 92, 0.356);
    margin: 1rem;
}
.description{
    padding-left: 0.8rem;
    text-align: left;
}
.description>p>span{
    color: rgb(145, 143, 143);
    margin-left: -0.8rem;
    padding-top: 1rem;
}
.description>p{
    text-align: left;
    color: rgb(61, 60, 60);
    margin-top: 0.5rem;
}

.filters{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .3);
    padding: 1.5rem;
    width: 290px;
    transition: 1s;
    transform: translateX(290px);
    overflow: auto;
    text-align: left;

}

.filters.open{
    transform: translateX(0);
    background-color: white ;
    z-index: 1;
}
.filter-button{
    text-align: right;
    margin: 2rem;
    margin-right: 7vw;
}
.filter-button>button{
    text-align: right;
    font-size: 18px;
    color: rgb(95, 95, 95);
    border: transparent;
    background-color: white;
}
.filters>button{
    background-color: aqua;
    display: block;
    font-size: 16px;
    color: rgb(95, 95, 95);
    border: transparent;
    background-color: white;
    margin: 1rem;
}
.filters .close{
    margin-top: -0.5rem;
    margin-left: 13.5rem;
    font-size: 20px;
}

.filters>hr{
    margin: 1rem 0;
    width: 235px;
}


@media (min-width: 576px){
    .products{
        width: 41vw;
        height: 400px;
    }
}
@media (min-width: 992px){
    .filter-button{
        display: none
    }

    .filters.open{
        transform: translateX(0);
        background-color: white ;
        z-index: 1;
    }
    .filters .close{
        display: none;
    }
    .filters{
        margin-top: 80px;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        box-shadow: 0px 0px 0px rgba(0, 0, 0, .3);
        padding: 1.5rem;
        width: 290px;
        transition: 1s;
        transform: translateX(0);
        overflow: auto;
        text-align: left;
    
    }
    .home{
        margin-left: 290px;
    }
    .search>input{
        width: 80vw;
        max-width: 57vw;
        height: 40px;
        padding: 0.8rem;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, .3);
        border: 1px solid rgba(92, 92, 92, 0.267);
    }
    .products{
        width: 29vw;
        height: 400px;
    }
}
@media (min-width: 1200px){
    .products{
        width: 250px;
        height: 400px;
    }
}