
.navbar{
    position: fixed;
    background-color: white;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 73px;
}
.login{
    position: absolute;
    padding: 20px;
    background-color: white;
    box-shadow: 2px 2px 8px rgb(0, 0, 0, .3);
    transform: scale(0);
    transition: .6s;
    transform-origin: top;
    right: 11vh;
    top: 25px;
    margin-top: 2rem;
    height: auto;
    width: 250px;
}
.login.open{
    transform: scale(1);
}
.navbar-responsive{
    display: flex;
    justify-content: space-between;
}
.navbar-img>img{
    width: 180px;
    margin-top: 0.5rem;
    margin-left: 0.8rem;
}
.navbar-button{
    margin-top: 0.8rem;
    margin-right: 1rem;
}
.navbar-button>button{
    width: 35px;
    margin-left: 3vw;
    font-size: 20px;
    color: rgb(95, 95, 95);
    border: transparent;
    background-color: white;
}
.image-John{
    width: 50px;
}
.button-John{
    width: 100px;
    background-color: white;
    border: transparent;
    color: rgb(6, 141, 231);
    font-size: 16px;
    margin: 0.5rem 0;
}
.test-data{
    background-color: rgba(86, 180, 223, 0.5);
    padding: 1rem;
    border-radius: 5px;
    text-align: left;
    margin-bottom: 1rem;
}
.test-data>p{
    margin: 0.5rem 0;
}
.test-data>p>i{
    margin-right: 0.5rem;
}
.test-data>h4{
    text-align: center;
}
.user-enter>input{
    margin: 0.5rem auto;
    width: 210px;
    height: 35px;
    padding: 0.5rem;
    border-radius: 5px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
    border: 1px solid rgba(92, 92, 92, 0.267);
}
.user-enter>button{
    background-color: rgb(236, 69, 18);
    border: 1px solid rgb(236, 69, 18);
    box-shadow: 2px 2px 8px rgba(0, 0, 0, .3);
    color: white;
    width: 210px;
    height: 35px;
    margin: 1rem 0;
}


@media (min-width: 992px){


    .navbar{
        border-bottom: 1px solid rgba(92, 92, 92, 0.267);
    }
    .navbar-button{
        margin: 0;
        padding: 0;
    }
    .navbar-button>button{
        background-color: rgb(255, 255, 255);
        width: 15vw;
        height: 72px;
        margin: 0;
        padding: 0;
        border-left: 1px solid rgba(92, 92, 92, 0.267);
    }
    .navbar-img>img{
        margin-left: 4vh;
    }
    .login{
        position: absolute;
        padding: 20px;
        background-color: white;
        box-shadow: 2px 2px 8px rgb(0, 0, 0, .3);
        transform: scale(0);
        transition: .6s;
        transform-origin: top;
        right: 27vw;
        top: 41px;
        margin-top: 2rem;
        height: auto;
        width: 250px;
    }

}